body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    overflow-y: hidden;
}
#navId{
   display: flex;
   flex-direction: row;
   justify-content: center;
   background-color: #FAFFFF;
   width: 100%;
   border: none;
   background-color: #78F7FF;
}
#navId li{
padding-left: 5%;

}
#navId li a{
color: #1E1E1E;
}
#navId li a:hover{
    text-decoration: underline 2px solid #78F7FF;
    
}
.container{
    width: 100% ;
    color: white;
    font-weight: 800;
    height: 90%;
    max-height: 100vh !important;
    

}

.row{
    height: 100%;
    
}
#col1, #col2, #col3{
    height: 100%;
}
#col1 {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vw;
    height: 100vh;
    background-color: #FAFFFF;
}
#col1 .js {
    color: #1E1E1E;
    padding-top: 5vw;
    font-style: italic;
    font-size: 1.4vw;
    
}
#col1 .grades{
 box-shadow: 3px 2px 5px grey;
 width: 15vw;
 height: 25vw;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-top: 5vw;

}
#col1 .grades p{
    color:#1E1E1E;
    font-size: 1.1vw;
}
#col1 .grades ul li{
    font-size: 1.1vw;
    list-style: none;
    padding-top: 1.1vw ;
     color: #1E1E1E;
    
}
#col1 .grades ul li span{
color:#78F7FF;
font-weight: 1.3vw;
}
.logo h2{
    color:#78F7FF;
    margin-top: 0;
    
}
#col2 {
    background-color: #1E1E1E;
    padding-top: 5vw;
    padding-bottom: 10vw;
}

.tab-counter{
    background: none;
    color: #B3FF78;
    height: 3vw;
    width: 4vw;
    position: relative;
    right: -10vw;
    /* border: none; */

}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vw;
}

.tabs-parent{
    padding-bottom: 2vw;
}
.question{
    font-size: 1.2vw;
}

label{
   color: #78F7FF;
}
.tabs{
    display: none;
}
.tabs.active {
    display: block !important;
}
.answer-tab.selected {
    border-color: #B3FF78;
}

.switch-tabs {
color:#B3FF78;
border: white solid 3px;
background: none ;
width: 8vw;
height: 3vw;
margin-top: 3vw;

}
#nxt{
margin-left: 20vw;
}

#score{
    font-weight: 700;
    font-size: 4vw;
    color:#fff;
}
#result-percentage,
#result-score,
 #grade {
    font-weight: 700;
    font-size: large;
    color: #78F7FF;
}