body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-height: 100vh !important;
}
.container{
    width: 100% ;
    overflow-y: hidden;
    color: white;
    font-weight: 800;

}

.row{
    height: 100%;
    
}
#col1, #col2, #col3{
    height: 100%;
}
#col2{
    background-color: #1E1E1E;
    padding-top: 5vw;
}
#col1, #col3{
    background-color: #FAFFFF;
}
.tab-counter{
    background: none;
    color: #B3FF78;
    height: 3vw;
    width: 4vw;
    position: relative;
    right: -10vw;
    /* border: none; */

}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs-parent{
    padding-top: 1.1vw;
}
.question{
    /* padding-top: 2vw; */
    font-size: 1.2vw;
}

label{
   color: #78F7FF;
}

/* .switch-tabs{
    width: 69%  ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4vw;
} */
.tabs{
    display: none;
}
.tabs.active {
    display: block !important;
}
.answer-tab.selected {
    border-color: #B3FF78;
}

.switch-tabs {
color:#B3FF78;
border: white solid 3px;
background: none ;
width: 8vw;
height: 3vw;
margin-top: 3vw;

}
#col1{
    color: #78F7FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20vw;

}
.logo h2{
    color: #78F7FF;
}